<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plantas"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ pageTitle }} </ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="plantasForm" (submit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Nome popular:</ion-label>
        <ion-input type="text" placeholder="Nome" autofocus="true" inputmode="text" formControlName="nome">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Nome científico:</ion-label>
        <ion-input type="text" placeholder="Nome cientifico" inputmode="text" formControlName="nomeCientifico">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="primary" style="font-size: 12px;">Nomes populares:</ion-label>
      </ion-item>
        
      <ion-list formArrayName="nomesPopulares"
      *ngFor="let nomePopular of plantasForm.get('nomesPopulares').controls; let i = index;">
        <ion-item [formGroupName]="i" lines="inset">
          <ion-input formControlName="nomePopular" placeholder="Um nome popular" required>
          </ion-input>
          <ion-icon (click)="removeNomePopular(i)" name="close-circle"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-tab-button (click)="addNomePopular()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Adicionar um novo Nome</ion-label>
        </ion-tab-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Caracteristicas</ion-label>
        <ion-textarea autoGrow="true" formControlName="caracteristicas" placeholder="Tamanho, porte, habitat, folhas (como elas são) e frutos, origem (da onde veio, onde fica mais, raridade)"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Classificacao</ion-label>
        <ion-textarea autoGrow="true" formControlName="classificacao" placeholder="Ordem, Família, Genero e Espécie"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Propriedades</ion-label>
        <ion-textarea autoGrow="true" formControlName="propriedades"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Avisos</ion-label>
        <ion-textarea autoGrow="true" formControlName="avisos"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Cultivo</ion-label>
        <ion-textarea autoGrow="true" formControlName="cultivo"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Url da foto:</ion-label>
        <ion-input type="text" placeholder="Url da foto" inputmode="text" formControlName="foto">
        </ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" color="success" [disabled]="plantasForm.invalid">
        Save
      </ion-button>

    </ion-list>
  </form>
  
</ion-content>