<ion-header  *ngIf="(planta$ | async) as planta">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plantas"></ion-back-button>
      <ion-button routerLink="/plantas/edit/{{planta.id}}" routerDirection="forward">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="(planta$ | async) as planta" class="ion-text-center"> {{ planta.nome }} </ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(planta$ | async) as planta">
  <img src="{{planta.foto}}" class="ion-text-center">
  <ion-segment (ionChange) = "segmentChanged($event)" value="descricao" color="success">
    <ion-segment-button value="descricao" checked>
      <ion-label>Descrição</ion-label>
    </ion-segment-button>
    <ion-segment-button value="propriedades">
      <ion-label>Propriedade e Usos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cultivo">
      <ion-label>Cultivo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row *ngIf="segmentPage === 'propriedades'  ">
      <ion-grid>
        <ion-row>
          <p class="ion-padding ion-text-justify"> {{planta.propriedades}} </p>
        </ion-row>
        <ion-row>
          <p class="ion-padding ion-text-justify" *ngIf="planta.avisos"> <b>Avisos:</b> {{planta.avisos}} </p>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row *ngIf="segmentPage === 'cultivo'">
      <p class="ion-padding ion-text-justify"> {{planta.cultivo}} </p>
    </ion-row>

    <ion-row *ngIf="segmentPage === 'descricao'">
      <ion-segment (ionChange)="segmentDescricaoChanged($event)" value="caracteristicas" color="success">
        <ion-segment-button value="caracteristicas">
          <ion-label>Características</ion-label>
        </ion-segment-button>
        <ion-segment-button value="classificacao">
          <ion-label>Classificação</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <ion-row *ngIf="segmentDescricaoPage === 'caracteristicas' && segmentPage === 'descricao'" > 
      <ion-list>

        <ion-item>
          <ion-list>
            <ion-item lines="none">
              <label><b>Nomes populares:</b></label>
            </ion-item>
            <ion-list>
              <ion-item *ngFor="let nomePopular of planta.nomesPopulares" lines="none"> 
                <label> - {{nomePopular.nomePopular}} </label>
              </ion-item>
            </ion-list>
          </ion-list>
        </ion-item>

        <ion-item>
          <p class="ion-padding ion-text-justify"> <b>Tamanho:</b> {{planta.tamanho}} </p>
        </ion-item>

        <ion-item>
          <p class="ion-padding ion-text-justify"> <b>Origem:</b> {{planta.origem}} </p> 
        </ion-item>
        
        <ion-item>
          <p class="ion-padding ion-tex t-justify"> <b>Folha:</b> {{planta.folha}} </p> 
        </ion-item>
        
        <ion-item *ngIf="planta.fruto">
          <p class="ion-padding ion-text-justify"> <b>Fruto:</b> {{planta.fruto}} </p>
        </ion-item> 
        
        <ion-item>
          <p class="ion-padding ion-text-justify"> {{planta.caracteristicas}} </p>
        </ion-item>

      </ion-list>
    </ion-row>
    <ion-row *ngIf="segmentDescricaoPage === 'classificacao' && segmentPage === 'descricao'">
      <ion-grid>
        <ion-row>
          <p class="ion-padding ion-text-justify"> <b>Ordem:</b> {{planta.ordemPlanta}} </p>
        </ion-row>
        <ion-row>
          <p class="ion-padding ion-text-justify"> <b>Família:</b> {{planta.familiaPlanta}} </p> 
        </ion-row>
        <ion-row>
          <p class="ion-padding ion-tex t-justify"> <b>Genero:</b> {{planta.generoPlanta}} </p> 
        </ion-row>
        <ion-row>
          <p class="ion-padding ion-text-justify"> <b>Espécie:</b> {{planta.especiePlanta}} </p>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>

</ion-content>