<ion-header>
  <ion-toolbar color="success">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-searchbar showCancelButton="always" (ionInput)="searchAction($event)"></ion-searchbar>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(plantas$ | async) as plantas">
    <ng-container *ngIf="plantas.length > 0; else noPlantas">
      <app-planta-item *ngFor="let planta of  plantas" [planta]="planta" (update)="onUpdate($event)"
        (delete)="onDelete($event)" (done)="onDone($event)"></app-planta-item>
    </ng-container>
    <ng-template #noPlantas>
      <ion-item lines="none"> Sem plantas ainda...</ion-item>
    </ng-template>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerLink="/plantas/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>